
#btn {
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 28px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

#btn:hover {
    background: yellow;
    color: black;
    border-radius: 30px;
}
